.mycontianer{
	margin-left: 15%;
	margin-right: 15%;
}

.page-header1{
	padding-bottom: 9px;
	margin: 20px 0 30px;
}
.row{
	margin-left: -30px;
}
.my_con{
	width: 1200px;
	height: 900px;
	margin-left: 10%;
	margin-right: 10%;
}
p.p1{
	text-align: left;
	font-size: 17px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.jumbotron {
/* margin: 80px 0; */
	text-align: left;
}
textarea.publish {
	width: 97%;
	height: 130px;	
}

.mytitle {
	text-indent: -9999em;
	outline-style: none;
	font: normal 20px/24px Tahoma;
	float: left;
	width: 224px;
	height: 24px;
}

.login-dialog{
        margin: 200px auto 50% auto;
	width: 470px;
	height: auto;
}

.login-dialog .footer{
	height: 30px;
}

#leaveMessage textarea{
	width: 90%;
	height: 200px;
	margin: auto 5% auto 5%;
}

.callout{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.callout-info {
    border-left-color: #1b809e;
}

.mybodystyle {
	font-family: "微软雅黑";
}

